@media (max-width: 575px) {
  .footer {
    display: none;
  }

  button.btnLogin {
    width: 100%;
  }
}

@media (min-width: 575px) {
  @media (max-height: 804px) {
    div#cadastrar .footer {
      display: none;
    }
  }
}

@media (min-width: 575px) {
  @media (max-height: 719px) {
    .btnEntrar {
      margin-bottom: 1rem;
    }

    .footer {
      display: none;
    }
  }
}
